<!doctype html>
  <html lang="<%= I18n.locale %>">
  <head data-hook="admin_inside_head">
    <%= render partial: 'spree/admin/shared/head' %>
  </head>

  <body class="admin pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <%= yield %>

          <%= flash_alert(flash) %>
        </div>
      </div>
    </div>
  </body>
</html>
